<h2>WE ARE READY TO SERVE YOU</h2>
<P>We have a deep rooted desire to help people, this is the essence of what makes our Support team come alive. Whatever the detail, whoever it is, we passionately serve fellow Kenyans in realizing their dreams of owning a place they can feel proud of calling home. Subscribe to our newsletter to stay up to date with announcements. Send us any suggestions and feedback on your experience - we are always keen to listen to anything you have to say.</P>
<h3>Contact</h3>
<p>Send us an email to info@propertyrental.com</p>
<h3>Our Support</h3>
<p>Our dedicated Customer Support team is here to provide you with answers to your pressing questions. Sharing the knowledge that we have available at our fingertips can help you navigate any hurdles you encounter on your journey to a new home.</p>

{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'about'}}About Us{{/link-to}}
